<div class="col-md-12">
  <div class="card card-container">
    <form name ="form" #f="ngForm" *ngIf="!isSuccessFull" (submit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" required
        minlength="3" maxlength="30" [(ngModel)]="user.email"
        #email="ngModel"/>
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required
        minlength="3" maxlength="30" [(ngModel)]="user.password"
        #password="ngModel"/>
      </div>
      <br>
      <br>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Login</button>
    </div>
    </form>
    <br>
    <div class="alert alert-success" role="alert" *ngIf="isSuccessFull">
        Login Exitoso
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isSignUpFailed" >
      Ocurrio un error {{errorMessage}}
    </div>
  </div>
</div>
